:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

#leftBackground {
  background-color: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1,
h3 {
  font-family: "Fredericka the Great", cursive;
  display: flex;
  justify-content: left;
  padding-left: 3px;
}

#searchForm {
  font-family: "Domine", serif;
  font-weight: 600;
  font-size: medium;
}

#daysDropdown {
  font-family: "Domine", serif;
  font-weight: 600;
  font-size: medium;
  color: black;
}

/* Set the size of the div element that contains the map */
#map {
  height: 100vh;
  width: 100%;
}

.leftside,
.rightside {
  height: 100vh;
}

.leftside {
  overflow: hidden;
  border-right: 4px solid;
  border-image-source: linear-gradient(
    to bottom,
    #23232e,
    #3a495d,
    #49748c,
    #55a3b7,
    #6bd4d8
  );
  border-image-slice: 1;
}

.searchButton {
  font-family: "Domine", serif;
  margin-top: 5px;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
  height: 35px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2.5px;
  background-color: #913535;
}

.searchButton:hover {
  background-color: #23232e;
}

.dropdown-menu {
  background-color: black;
  font-size: 50px;
}

.dropdown-toggle {
  font-size: 18px;
  color: black;
  z-index: 9999;
}

.sidebar {
  width: 100%;
  /* width: 200px; */
  /* height: 100vh; */
  /* position: fixed; */
  background-color: var(--bg-primary);
  /* transition: width 200ms ease; */
  /* z-index: 9999; */
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.nav-item {
  /* width: 75px; */
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  /* height: 5rem; */
  color: var(--text-primary);
  text-decoration: none;
  width: 80px;
}

.link-text {
  display: none;
}

.sidebar:hover .link-text {
  display: block;
}

#addHeader {
  justify-content: center;
}

.vendorTable {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}

.serviceTable {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}

.marketButton {
  border-radius: 5px;
  width: 75px;
}

.market-scroll {
    max-width: 100%;
    overflow-x: auto;
    width:5000px;
}

/*Modal Dynamic Sizing
https://stackoverflow.com/questions/34307647/bootstrap-modal-dynamic-width*/
body .modal-dialog {
  max-width: 100%;
  width: auto !important;
  display: inline-block;
  margin-top: 75px;
}

/* #modal-dialog-vendor {
  width: 1175px !important;
  margin-left: 110px;
} */

#modal-dialog-service {
  width: 575px !important;
  margin-left: 410px;
}

.modal {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Center Modals on Screen */
/* 'https://stackoverflow.com/questions/39627549/how-to-center-modal-to-the-center-of-screen/39636961' */
#vendorListModal,
#vendorModal,
#marketModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

/* .modal-open .modal {
  z-index: 1050;
} */

#serviceTable th,
#vendorTable th {
  width: 150px;
  /* border-bottom: 1px solid black; */
  border-collapse: collapse;
}

.modal-title {
  font-family: "Fredericka the Great", cursive;
  display: flex;
  justify-content: left;
  padding-left: 3px;
  font-size: 220%;
}

.insertButton,
.submitRow,
.deleteRow {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.75px;
  border-radius: 5px;
  border: none;
}

.submitRow {
  background-color: rgb(18, 102, 18);
}

.deleteRow {
  background-color: #913535;
}

.insertButton {
  background-color: #393e46;
  width: 145px;
}

.deleteRow:hover {
  background-color: #471c1c;
}

.submitRow:hover {
  background-color: rgb(20, 63, 20);
}

.insertButton:hover {
  background-color: #23232e;
}

/* .modalTable {

} */